@import url(http://fonts.googleapis.com/css?family=Iceland:400,700);
    
body {
  background-color: #000;
  color: #999;
	margin: 0;
  font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
}

#countdown {
  padding-top: 3%;
  height: 40%;
  padding-bottom: 4%;
  display: table;
  width: 100%;
}

#time {
  display: table;
  width: 100%;
}

.time{
  font-size: 22em;
  font-family: "Iceland";
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-width: bold;
  
  color: #ddd;
}

#realclock {
  font-size: 5em;
  color: #4A4A4A;
  font-weight: bold;

  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#text {
  text-align: center;
  font-size: 5em;
  font-family: Verdana;
  font-weight: bold;
}
